/Test01.class
/MyClass1.class
/MyClass2.class
/MyInterface.class
/Test01$1.class
/Test01$2.class
/Test01$3.class
/Multiply.class
/Multiplys.class
/TestMultiply.class
/Verify.class
/Verify2.class
/Test05.class
/Test06.class
/IntegerFunc.class
/MyFunc.class
/NumberFunc.class
/StringFunc.class
/Test07.class
/StringFunc1.class
