/EnumTest01.class
/EnumTest01$NonEnumTest.class
/EnumTest01$Status.class
/Status.class
/EnumTest02.class
/Mandarin$EnumTest02.class
/Mandarin.class
/EnumTest02$1Mandarin.class
/EnumTest02$Mandarin.class
